{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
{% include 'header.html' %}
<section>
    {% if messages %}
    <div class="row">
        <div class="col-md-12 text-center" style="width: 100%; padding:0; margin: 0;">
            {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }} message_t"{% endif %}
                 role="alert">
                <p class="message_text">{{ message }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% include 'home/carousel_home.html' %}
    {% include 'home/services.html' %}
    {% include 'home/packages_pricing.html' %}
    {% include 'home/testimonials.html' %}
</section>
{% include 'footer.html' %}
{% endblock %}