{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
{% include 'header.html' %}
<section>
    {% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="{{ message.tags }}"{% endif %}
         role="alert" style="margin-bottom: 0.5em; padding-top:0.5em; padding-bottom: 0.5em;">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    {% include 'home/carousel_home.html' %}
    <br>
    {% include 'home/services.html' %}
</section>
{% include 'footer.html' %}
{% endblock %}