<!--<div class="service" style="background-color: hsl(0, 0%, 81%);">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-6 col-md-6 col-sm-12">-->
<!--                <div class="titlepage">-->
<!--                    <h3>Our Mission</h3>-->
<!--                    <ul>-->
<!--                        <li>Provide hassle-free and personalized visa and travel services to visitors who wish to experience Canada's natural beauty, rich culture, and diverse communities.</li>-->
<!--                        <li>Offer comprehensive and transparent visa services, guiding clients through the complex application process with ease and efficiency.</li>-->
<!--                        <li>Create tailored and customized travel itineraries to meet the unique needs and preferences of our clients.</li>-->
<!--                        <li>Ensure each visitor to Canada has a memorable and enjoyable travel experience, with access to the best tourist attractions and activities.</li>-->
<!--                        <li>Deliver exceptional customer service, building long-term relationships based on trust and reliability.</li>-->
<!--                        <li>Promote Canada as a premier travel destination and provide clients with unforgettable travel experiences.</li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-6 col-md-6 col-sm-12">-->
<!--                <div class="titlepage">-->
<!--                    <h3>Mission Images</h3>-->
<!--                    <p>IMage Insert.</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="service" style="background-color: hsl(0, 0%, 81%);">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-6 col-md-6 col-sm-12">-->
<!--                <div class="titlepage">-->
<!--                    <h3>Vision Images</h3>-->
<!--                    <p>IMage Insert.</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-6 col-md-6 col-sm-12">-->
<!--                <div class="titlepage">-->
<!--                    <h3>Our Vision</h3>-->
<!--                    <ul>-->
<!--                        <li>Be recognized as a leading provider of visa and travel services to Canada, known for excellence, innovation, and customer satisfaction.</li>-->
<!--                        <li>Establish ourselves as a comprehensive one-stop-shop for all travel-related needs, offering end-to-end services for ease and comfort.</li>-->
<!--                        <li>Utilize the latest technology and industry best practices to enhance service offerings, making travel to Canada accessible and convenient.</li>-->
<!--                        <li>Create a dynamic and inclusive travel community, facilitating cultural exchange and understanding among visitors worldwide.</li>-->
<!--                        <li>Operate as a responsible and sustainable business, minimizing environmental impact and contributing to community well-being.</li>-->
<!--                        <li>Play a vital role in shaping the future of the travel industry, making Canada a welcoming and diverse destination for all.</li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div id="service" class="service">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="titlepage">
                    <h2 class="titleborder">Our Services</h2>
                    <span>
                      At The Global North, we offer a comprehensive range of
                      services designed to assist and empower individuals throughout
                      their immigration journey. Our team of experienced
                      professionals is committed to providing the highest level of
                      support and guidance, ensuring a seamless transition to your
                      desired country.
                    </span>
                    <h4>Here are some of the key services we offer:</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 service-box">
                <div class="content">
                    <i class="material-icons">public</i>
                    <h4>General Consultation</h4>
                    <p>Add your content here describing the service.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service-box">
                <div class="content">
                    <i class="material-icons">business_center</i>
                    <h4>Visitation Services</h4>
                    <p>Add your content here describing the service.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service-box">
                <div class="content">
                    <i class="material-icons">school</i>
                    <h4>Education Services</h4>
                    <p>Add your content here describing the service.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service-box">
                <div class="content">
                    <i class="material-icons">flight</i>
                    <h4>Flight Booking Options</h4>
                    <p>Add your content here describing the service.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service-box">
                <div class="content">
                    <i class="material-icons">hotel</i>
                    <h4>Accomodation Services</h4>
                    <p>Add your content here describing the service.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service-box">
                <div class="content">
                    <i class="material-icons">people</i>
                    <h4>Consultation Services</h4>
                    <p>Add your content here describing the service.</p>
                </div>
            </div>
        </div>
    </div>
</div>