<div id="service" class="service">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="titlepage">
                    <h2 class="titleborder">Our Services</h2>
                    <span>
                      At The Global North, we offer a comprehensive range of
                      services designed to assist and empower individuals throughout
                      their immigration journey. Our team of experienced
                      professionals is committed to providing the highest level of
                      support and guidance, ensuring a seamless transition to your
                      desired country.
                    </span>
                    <h4>Here are some of the key services we offer: </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {% if services %}
        <div class="row">
            {% for each in services %}
            {% if each.is_active %}
            <div class="col-md-4 col-sm-6 service-box">
                <div class="content">
                    <i class="material-icons">{{each.icon_name}}</i>
                    <h5>{{each.name}}</h5>
                    <p>{{each.description|slice:50}}</p>
                    <a href="/services/service/{{each.pk}}/view/" class="plan-btn">Read More</a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12 text-center">
                <div>
                    <a href="/services/service/list" class="btn btn-custom">View Our Services</a>
                </div>
            </div>
        </div>
    </div>
</div>