<div id="service" class="service">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="titlepage">
                    <h2 class="titleborder">Our Services</h2>
                    <span>
                      At The Global North, we offer a comprehensive range of
                      services designed to assist and empower individuals throughout
                      their immigration journey. Our team of experienced
                      professionals is committed to providing the highest level of
                      support and guidance, ensuring a seamless transition to your
                      desired country.
                    </span>
                    <h4>Here are some of the key services we offer:</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 service-box">
                <div class="content">
                    <i class="material-icons">public</i>
                    <h4>General Consultation</h4>
                    <p>Add your content here describing the service.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service-box">
                <div class="content">
                    <i class="material-icons">business_center</i>
                    <h4>Visitation Services</h4>
                    <p>Add your content here describing the service.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service-box">
                <div class="content">
                    <i class="material-icons">school</i>
                    <h4>Education Services</h4>
                    <p>Add your content here describing the service.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service-box">
                <div class="content">
                    <i class="material-icons">flight</i>
                    <h4>Flight Booking Options</h4>
                    <p>Add your content here describing the service.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service-box">
                <div class="content">
                    <i class="material-icons">hotel</i>
                    <h4>Accomodation Services</h4>
                    <p>Add your content here describing the service.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service-box">
                <div class="content">
                    <i class="material-icons">people</i>
                    <h4>Consultation Services</h4>
                    <p>Add your content here describing the service.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div>
                    <a href="/services/package/list" class="btn btn-custom">View Our Packages</a>
                </div>
            </div>
        </div>
    </div>
</div>