<div id="service" class="service testim">
    <div class="container">
         <div class="row">
            <div class="col-md-12 text-center">
                <div class="titlepage">
                    <h2 class="titleborder">Testimonials</h2>
                    <span>
                      At The Global North, we are driven by these values as we assist individuals in realizing their dreams of immigrating to different countries.
                       We are committed to making a positive impact, one successful immigration story at a time.
                    </span>
                    <h4>Here are some of our testimonials:</h4>
                </div>
            </div>
         </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 service-box">
                <div class="content">
                    <p>
                        "I cannot thank Global North enough for their exceptional assistance in helping
                        me immigrate to Canada. From the initial consultation to the final visa approval."
                    </p>
                    <div class="d-flex align-items-center">
                        <i class="material-icons">chat</i>
                        <h4>Jerry Onyango - Applicant</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service-box">
                <div class="content">
                    <p>"I cannot thank Global North enough for their exceptional assistance in helping
                        me immigrate to Canada. From the initial consultation to the final visa approval."
                    </p>
                    <div class="d-flex align-items-center">
                        <i class="material-icons">chat</i>
                        <h4>Jerry Onyango - Applicant</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service-box">
                <div class="content">
                    <p>"I cannot thank Global North enough for their exceptional assistance in helping
                        me immigrate to Canada. From the initial consultation to the final visa approval."</p>
                    <div class="d-flex align-items-center">
                        <i class="material-icons">chat</i>
                        <h4>Jerry Onyango - Applicant</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>