<div id="service" class="service testim">
    <div class="container">
         <div class="row">
            <div class="col-md-12 text-center">
                <div class="titlepage">
                    <h2 class="titleborder">Testimonials</h2>
                    <span>
                      At The Global North, we are driven by these values as we assist individuals in realizing their dreams of immigrating to different countries.
                       We are committed to making a positive impact, one successful immigration story at a time.
                    </span>
                    <h4>Here are some of our testimonials:</h4>
                </div>
            </div>
         </div>
    </div>
    <div class="container">
        {% if testimonials %}
        <div class="row">
            {% for each in testimonials %}
            <div class="col-md-4 col-sm-6 service-box">
                <div class="content">
                    <p>
                        "{{each.testimony_text}}"
                    </p>
                    <div class="d-flex align-items-center">
                        <i class="material-icons">{{each.icon_name}}</i>
                        <h4>{{each.testimony_by}}</h4>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>