{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="bg-light" style="padding: 2rem;">
    <div style="height: 100vh">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="card" style="max-width: 70%; margin-left: 15%; padding: 20px;">
                            {% if messages %}
                            {% for message in messages %}
                            <div {% if message.tags %} class="{{ message.tags }}"{% endif %}
                                 role="alert" style="margin-bottom: 0.5em; padding-top:0.5em; padding-bottom: 0.5em;">
                                {{ message }}
                            </div>
                            {% endfor %}
                            {% endif %}
                            <h3 class="titleborder"> <u>Check your email</u></h3>
                            <p>
                                We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
                            </p>
                            <p>
                                If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
                            </p>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <img src="" alt="" style="max-width: 300px; text-align: center; margin: 1em;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}