{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
    <div style="height: 100vh">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="card" style="max-width: 70%; margin-left: 15%;">

                            <h3 style="font-weight: bold; margin: 0.5em; font-family: Stylish; color: rgb(253, 80, 80);">Reset Your Password</h3>
                            <form method="post">
                                {% csrf_token %}
                                <div class=" text-center">
                                    <label for="email" style="font-weight: bold;">Email: </label>
                                    <div class="form-group">
                                        <input class="form-control" type="email" name="email" autocomplete="email" placeholder="Type your Email Here" id="id_email" style="max-width: 80%; margin-left: 10%; margin-bottom: 1em;" required>
                                    </div>
                                </div>
                                <button style="margin: 1em;" class="btn btn-warning" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}