{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ page_title }}
{% endblock %}
{% block content %}
{% include 'header.html' %}
<section class="bg-light" style="padding: 2rem;">
    <div class="container" style="padding-top: 2rem; padding-bottom: 2 rem;">
        {% if messages %}
        {% for message in messages %}
        <div class="row">
            <div class="col-md-12">
                <div {% if message.tags %} class="{{ message.tags }} message_t"{% endif %}
                     role="alert">
                    {{ message }}
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="card mt-3 mb-5">
                    <h5 class="titleborder">Reset Your Password</h5>
                    <form method="post">
                        {% csrf_token %}
                        <div class=" text-center">
                            <label for="email" style="font-weight: bold;">Email: </label>
                            <div class="form-group">
                                <input class="form-control" type="email" name="email" autocomplete="email" placeholder="Type your Email Here" id="id_email" style="max-width: 80%; margin-left: 10%; margin-bottom: 1em;" required>
                            </div>
                        </div>
                        <button style="margin: 1em;" class="btn btn-warning" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'footer.html' %}
{% endblock %}