{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    ol {
        list-style: none;
        counter-reset: steps;
    }

    ol li {
        counter-increment: steps;
    }

    ol li::before {
        content: counter(steps);
        margin-right: 0.5rem;
        background: red;
        color: white;
        width: 1.2em;
        height: 1.2em;
        border-radius: 50%;
        display: inline-grid;
        place-items: center;
        line-height: 1.2em;
        font-weight: bold;
    }

    ol ol li::before {
        background: darkorchid;
    }
</style>
<section>
    <div style="height: 100vh">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="card" style="max-width: 70%; margin-left: 15%;">
<!--                            <h2 class="rty" style="font-family: 'Avenir LT Std';font-weight: 900;"><span-->
<!--                                class="vc">Click</span><span>SWITCH</span> <span class="vc"-->
<!--                                style="">Q</span><span>uest</span><span class="vc">.</span></h2>-->
                            {% if validlink %}
                            <h3 style="font-weight: bold; margin: 0.5em; font-family: Stylish; color: rgb(253, 80, 80);">Change password</h3>
                            <form method="post">
                                {% csrf_token %}
                                <div class=" text-center form-inline d-flex justify-content-center align-items-center w-100">
                                    <p>
                                        <label for="new_password1" style="font-weight: bold;">New Password: </label>
                                        <div class="form-group">
                                            <input class="form-control" type="password" name="new_password1" autocomplete="new-password" id="id_new_password1" style="max-width: 80%; margin-left: 10%; margin-bottom: 1em;" required>
                                        </div>
                                    </p>
                                </div>

                                <ol>
                                    <li>Your password can’t be too similar to your other personal information.</li>
                                    <li>Your password must contain at least 8 characters.</li>
                                    <li>Your password can’t be a commonly used password.</li>
                                    <li>Your password can’t be entirely numeric.</li>
                                </ol>
                                <div class=" text-center form-inline d-flex justify-content-center align-items-center w-100">
                                    <p>
                                        <label for="new_password2" style="font-weight: bold;">Confirm New Password</label>
                                        <div class="form-group">
                                            <input type="password" class="form-control" name="new_password2" autocomplete="new-password" id="id_new_password2" style="max-width: 80%; margin-left: 10%; margin-bottom: 1em;" required>
                                        </div>
                                    </p>
                                </div>
                                <button style="margin: 1em;" class="btn btn-warning" type="submit">Change
                                    password</button>
                            </form>
                            {% else %}
                            <p>
                                The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
                            </p>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <img src="" alt="" style="max-width: 300px; text-align: center; margin: 1em;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}