{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ page_title }}
{% endblock %}
{% block content %}
{% include 'header.html' %}
<section class="bg-light" style="padding: 2rem;">
    <div class="container" style="padding-top: 2rem; padding-bottom: 2 rem;">
        {% if messages %}
        {% for message in messages %}
        <div class="row">
            <div class="col-md-12">
                <div {% if message.tags %} class="{{ message.tags }} message_t"{% endif %}
                     role="alert">
                    {{ message }}
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-md-12 text-center">
                {% if validlink %}
                    <h3 class="titleborder">Change password</h3>
                    <form method="post">
                        {% csrf_token %}
                        <div class=" text-center form-inline d-flex justify-content-center align-items-center w-100">
                            <p>
                                <label for="new_password1" style="font-weight: bold;">New Password: </label>
                                <div class="form-group">
                                    <input class="form-control" type="password" name="new_password1" autocomplete="new-password" id="id_new_password1" style="max-width: 80%; margin-left: 10%; margin-bottom: 1em;" required>
                                </div>
                            </p>
                        </div>

                        <ol>
                            <li>Your password can’t be too similar to your other personal information.</li>
                            <li>Your password must contain at least 8 characters.</li>
                            <li>Your password can’t be a commonly used password.</li>
                            <li>Your password can’t be entirely numeric.</li>
                        </ol>
                        <div class=" text-center form-inline d-flex justify-content-center align-items-center w-100">
                            <p>
                                <label for="new_password2" style="font-weight: bold;">Confirm New Password</label>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="new_password2" autocomplete="new-password" id="id_new_password2" style="max-width: 80%; margin-left: 10%; margin-bottom: 1em;" required>
                                </div>
                            </p>
                        </div>
                        <button style="margin: 1em;" class="btn btn-warning" type="submit">Change
                                    password</button>
                    </form>
                {% else %}
                <p>
                    The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% include 'footer.html' %}
{% endblock %}