{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
    <div style="height: 100vh">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="card" style="max-width: 70%; margin-left: 15%; padding: 20px;">
<!--                            <h2 class="rty" style="font-family: 'Avenir LT Std';font-weight: 900;"><span-->
<!--                                class="vc">Click</span><span>SWITCH</span> <span class="vc"-->
<!--                                style="">Q</span><span>uest</span><span class="vc">.</span></h2>-->
                            <h3 style="font-family:Stylish; color: red;"> <u>Check your email</u></h3>
                            <p>
                                We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
                            </p>
                            <p>
                                If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
                            </p>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <img src="" alt="" style="max-width: 300px; text-align: center; margin: 1em;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}