{% extends 'base.html' %}
{% load static %}
{% block title %}
Ooooops!!!!!!!!!!!!!
{% endblock %}
{% block content %}
{% include 'header.html' %}
<section style="margin: 2rem;">
        <div class="container" >
                <div class="row">
                        <div class="col-md-12">
                                <h3>No sneaking In :/</h3>
        <p>Click <a href="/accounts/login/">here</a> to login again.
                        </div>
                </div>
        </div>
</section>
{% include 'footer.html' %}
{% endblock %}