{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ page_title }}
{% endblock %}
{% block content %}
{% include 'header.html' %}
<section>
    <div class="container">
        <div class="card card-login mx-auto text-center" style="background: rgb(253, 227, 227) !important;"
            id="form_login">
            <div class="card-header mx-auto" style="background: rgb(253, 227, 227) !important;">
                <span> Login to {{project}} </span>
            </div>
            <div class="card-body">
                {% if messages %}
                {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}"{% endif %}
                     role="alert" style="margin-bottom: 0.5em; padding-top:0.5em; padding-bottom: 0.5em;">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}

                <form method='POST' action='' enctype='multipart/form-data'>
                    {% csrf_token %}
                    {% if form.errors %}
                    <p style="color: red;">
                        Please correct the error{{ form.errors|pluralize }} below.
                    </p>
                    {% endif %}
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        {{form.email}}
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        {{form.password}}
                    </div>

                    <div class="form-group">
                        <input type="submit" name="submit" value="Login"
                            class="btn btn-outline-success float-right login_btn">
                    </div>

                </form>
                <br>
                <p> Not yet registered? Click <a href="/accounts/register/">here</a> to Register.</p>
                <p> Did you<a href="/accounts/password_reset/"> Forget Your Password?</a></p>
            </div>
        </div>
    </div>
</section>
{% include 'footer.html' %}
{% endblock %}