{% extends 'base.html' %}
{% load static %}
{% block title %}
{{page_title}}
{% endblock %}
{% block content %}
{% include 'header.html' %}
<section class="bg-light" style="padding: 2rem;">
    <div class="container">
        <div class="card card-login mx-auto text-center" style="background: rgb(253, 227, 227) !important;" id="form_login">
            {% if messages %}
            {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}"{% endif %}
                 role="alert" style="margin-bottom: 0.5em; padding-top:0.5em; padding-bottom: 0.5em;">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            <div class="card-header mx-auto" style="background: rgb(253, 227, 227) !important;">
                <h1 class="bg-light" style="padding: 2rem;">{{project}}</h1>
            </div>
            <div class="card-body">
                <h3>Thank you for your precious time :)</h3>
                <p>Click <a href="{% url 'login' %}">here</a> to login again.
            </div>
        </div>
    </div>
</section>

{% include 'footer.html' %}
{% endblock %}