{% extends 'base.html' %}
{% load static %}
{% block title %}
Registration Form
{% endblock %}
{% block content %}
<style>
    .card-login {
        /* margin-top: 130px; */
        padding: 18px;
        max-width: 30rem;
    }

    .card-header {
        /*background: #ff0000;*/
        font-family: Stylish;
        font-size: 20px;
        font-weight: 600 !important;
        margin-top: 10px;
        border-bottom: 0;
    }

    .input-group-prepend span {
        width: 50px;
        background-color: #f58383;
        ;
        color: #fff;
        border: 0 !important;
    }

    input:focus {
        outline: 0 0 0 0 !important;
        box-shadow: 0 0 0 0 !important;
    }

    .login_btn {
        width: 130px;
    }

    .login_btn:hover {
        color: #fff;
        background-color: #f58383;
    }

    .btn-outline-danger {
        color: #fff;
        font-size: 18px;
        background-color: #28a745;
        background-image: none;
        border-color: #28a745;
    }

    .form-control {
        display: block;
        width: 100%;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1.2rem;
        line-height: 1.6;
        color: #28a745;
        background-color: transparent;
        background-clip: padding-box;
        border: 1px solid #28a745;
        border-radius: 0;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .input-group-text {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding: 0.375rem 0.75rem;
        margin-bottom: 0;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.6;
        color: #d3e8fc;
        text-align: center;
        white-space: nowrap;
        background-color: #e9ecef;
        border: 1px solid #ced4da;
        border-radius: 0;
    }

    .logo_title {
        margin-bottom: -15px;
    }

    .form-control {
        min-width: 200px;
    }
</style>

<section>
    <div class="container">
        <div class="card card-login mx-auto text-center"
            style="background: rgb(253, 227, 227) !important;" id="form_login">
            <div class="card-header mx-auto" style="background: rgb(253, 227, 227) !important;">
                <span>{{project}} - Add New User </span>
            </div>
            <div class="card-body">
                <form class="form-horizontal" action='' method="POST">
                    {% csrf_token %}

                    {% if messages %}
                    {% for message in messages %}
                    <div {% if message.tags %} class="{{ message.tags }}"{% endif %}
                         role="alert" style="margin-bottom: 0.5em; padding-top:0.5em; padding-bottom: 0.5em;">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        {{form.location}}
                    </div>

                    <div class="form-group">
                        <input type="submit" name="submit" value="Register" class="btn btn-outline-secondary">
                    </div>

                </form>
                <br>
                <p>Already have an account? Click <a href="/accounts/login/">here</a> to login.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}