{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ page_title }}
{% endblock %}
{% block content %}
{% include 'header.html' %}
<section class="bg-light" style="padding: 2rem;">
    <div class="container">
        {% if messages %}
        {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }}"{% endif %}
             role="alert" style="margin-bottom: 0.5em; padding-top:0.5em; padding-bottom: 0.5em;">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <div>
            <section id="contact-form">
                <div class="container">
                    <h4 class="titleborder">New User</h4>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                            <div class="container vbf">
                                <div class="row">
                                    <div class="col-md-12 card">
                                        <div class="row">
                                            <div class="col-sm-12 text-center">
                                                <div class="title-area">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-area mt-1">
                                            <form method='POST' action='' enctype='multipart/form-data'>
                                                {% csrf_token %}
                                                <div class="container">
                                                    <div class="row align-items-center">
                                                    <div class="col-sm-3 text-info font-dark yeaha">
                                                        <span class="iconz"><i class="fa fa-envelope"></i></span>
                                                        <span class = "uhh"> Email</span>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        {{form.email}}
                                                    </div>
                                                    <div class="col-sm-3 text-info font-dark yeaha">
                                                        <span class="iconz"><i class="fa fa-user"></i></span>
                                                        <span class = "uhh"> First Name</span>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        {{form.first_name}}
                                                    </div>
                                                    <div class="col-sm-3 text-info font-dark yeaha">
                                                        <span class="iconz"><i class="fa fa-user"></i></span>
                                                        <span class = "uhh"> Last Name</span>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        {{form.last_name}}
                                                    </div>
                                                    <div class="col-sm-3 text-info font-dark yeaha">
                                                        <span class="iconz"><i class="fa fa-key"></i></span>
                                                        <span class = "uhh"> Password</span>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        {{form.password}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 tye text-center">
                                                        <input type="submit" name="submit" value="Register User"
                            class="btn btn-outline-success float-right login_btn">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 text-center">
                                                      <div class="card bg-light mb-4 py-2 px-3">
<!--                                                        <p style="margin-bottom: 10px;">Forgot your password?-->
<!--                                                            <a href="/accounts/password_reset/" style="text-decoration: underline; font-weight: bold;">Click Here</a> to reset your password.-->
<!--                                                        </p>-->
<!--                                                        <p style="margin-bottom: 10px;">Do not have an account?-->
<!--                                                            <a href="/accounts/register/" style="text-decoration: underline; font-weight: bold;">Click Here</a> to Register.-->
<!--                                                        </p>-->
                                                          <p>Already have an account? Click <a href="/accounts/login/">here</a> to login.</p>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
{% include 'footer.html' %}
{% endblock %}