{% extends 'base.html' %}
{% load static %}
{% block title %}
{{page_title}}
{% endblock %}
{% block content %}
{% include 'header.html' %}

<section style="margin: 2rem;">
    <div class="container">
        <div class="card card-login mx-auto text-center"
            style="background: rgb(253, 227, 227) !important;" id="form_login">
            {% if messages %}
            {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}"{% endif %}
                 role="alert" style="margin-bottom: 0.5em; padding-top:0.5em; padding-bottom: 0.5em;">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            <div class="card-header mx-auto" style="background: rgb(253, 227, 227) !important;">
                <span class="bg-light" style="padding: 2rem;">{{project}} - Update User Profile </span>
                <br>
                <span>{{user_mail}}</span>
                <br>
                <span>{{location}}</span>
            </div>
            <div class="card-body">
                <form class="form-horizontal" action='' method="POST">
                    {% csrf_token %}
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        {{form.location}}
                    </div>

                    <div class="form-group">
                        <input type="submit" name="submit" value="Update Profile" class="btn btn-outline-secondary">
                    </div>

                </form>
                <br>
            </div>
        </div>
    </div>
</section>
{% include 'footer.html' %}
{% endblock %}