{% extends 'base.html' %}
{% load static %}
{% block title %}
{{page_title}}
{% endblock %}
{% block content %}
{% include 'header.html' %}
<section class="bg-light" style="padding: 2rem;">
    <div class="container">
        <div class="card card-login mx-auto text-center"
            style="background: rgb(253, 227, 227) !important;" id="form_login">
            {% if messages %}
            {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}"{% endif %}
                 role="alert" style="margin-bottom: 0.5em; padding-top:0.5em; padding-bottom: 0.5em;">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            <div class="card-header mx-auto" style="">
                <span class="bg-light" style="padding: 2rem;">{{project}} - User Profile</span>
            </div>
            <div class="card-body">
                <h4 class="card-title text-center">Hello, {{ userprofile.user|title }}</h4>
                <hr>
                <div class="card-text">
                    <p class="text-muted mb-0" style="font-size: 12px">Username: {{ userprofile.user.email }}</p>
                    <p class="text-muted mb-0" style="font-size: 12px">Name:
                        {{ userprofile.user.first_name }} {{ userprofile.user.last_name }}</p>
                    <p class="text-muted mb-0" style="font-size: 12px">Email:{{ userprofile.user.email }} </p>
                    <p class="text-muted mb-0" style="font-size: 12px">Location:{{ userprofile.location }} </p>
                    <a href="/accounts/profile/{{profile_pk}}/update" class="btn btn-primary">
                        Update Profile Info
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'footer.html' %}
{% endblock %}