container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python GlobalNorth/manage.py accounts home services Payment && python GlobalNorth/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /var/app/venv/*/bin/activate && python GlobalNorth/manage.py autom_createsuperuser"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: GlobalNorth.settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: GlobalNorth.wsgi:application
    NumProcesses: 3
    NumThreads: 20