container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python GlobalNorth/manage.py accounts home services Payment && python GlobalNorth/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate &&  && python GlobalNorth/manage.py autom_createsuperuser"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python GlobalNorth/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "GlobalNorth.settings"
    PYTHONPATH: "./src"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: GlobalNorth/GlobalNorth/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: www/static

