.quiz-window {
    /* position: absolute; */
    left: 0;
    right: 0;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
    /* width: 600px; */
    border-radius: 4px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 1em;
    margin-top: 1em;
}

.quiz-window-header {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    text-align: center;
    position: relative;
}

.quiz-window-title {
    font-size: 26px;
}

.quiz-window-close {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    background: none;
    border: 0;
    width: 30px;
    height: 30px;
    font-size: 60px;
    font-weight: 100;
    line-height: 24px;
    color: #777;
    cursor: pointer;
}

.quiz-window-body {
    background-color: #f9f9f9;
}

.guiz-awards-row {
    margin: 0;
    padding: 5px 40px;
    list-style: none;
}

.guiz-awards-row:after {
    content: '';
    display: table;
    clear: both;
}

#guiz-awards-row-even {
    max-height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.guiz-awards-row:hover {
    background-color: rgb(242, 240, 239);
}

.guiz-awards-row li {
    display: inline-block;
    vertical-align: top;
    float: left;
}

.guiz-awards-header {
    /* text-align: center; */
    padding: 10px 40px;
    background-color: #ffe3cd;
    font-weight: 600;
    width: 100%;
}

.guiz-awards-header:hover {
    background-color: #ffe3cd;
}

.guiz-awards-star,
.guiz-awards-track,
.guiz-awards-time,
.guiz-awards-header-star,
.guiz-awards-header-track,
.guiz-awards-header-time {
    /* min-width: 54px; */
    text-align: center;
    /* width: 10%; */
}

.guiz-awards-header-star {
    /* max-width: 40px; */
    width: 5%;
}

.guiz-awards-title {
    width: 45%;
    /* min-width: 160px; */
    font-size: 16px;
    font-weight: bold;
    padding-top: 3px;
    color: rgb(77, 148, 77);
}

.guiz-awards-header-title {
    width: 45%;
    /* min-width: 160px; */
}

.guiz-awards-subtitle {
    color: #858585;
    font-size: 12px;
    font-weight: 300;
}

.guiz-awards-track,
.guiz-awards-time {
    /* width: 25%;
    min-width: 80px; */
    font-size: 15px;
    line-height: 30px
}

.guiz-awards-header-track,
.guiz-awards-header-time {
    width: 25%;
    /* min-width: 80px; */
}

.guiz-awards-track .null,
.guiz-awards-time .null {
    color: #bababa;
}

.star {
    display: inline-block;
    /* width: 40px;
    height: 40px; */
    padding: 0.55em 0.5em;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #bdc2c1;
    background: #d6d6d6;
    color: white;
}

.goldstar {
    border-color: #934c53;
    background: #fc3c50;
}

.silverstar {
    border-color: #557e3a;
    background: #66931f;
}

.bronzestar {
    border-color: #998247;
    background: #aa984b;
}

.rhodiumstar {
    border-color: #743a7f;
    background: #a0409d;
}

.platinumstar {
    border-color: #10393b;
    background: #2b5770;
}

.guiz-awards-buttons {
    background: #fff;
    text-align: center;
    padding: 10px 0;
}

.guiz-awards-but-back {
    display: inline-block;
    background: none;
    border: 2px solid #c276af;
    border-radius: 21px;
    padding: 7px 40px 7px 20px;
    color: #c276af;
    font-size: 17px;
    cursor: pointer;
    transition: all .3s ease;
}

.guiz-awards-but-back2 {
    display: inline-block;
    background: none;
    border: 2px solid green;
    border-radius: 21px;
    padding: 7px 40px 7px 20px;
    color: green;
    font-size: 17px;
    cursor: pointer;
    transition: all .3s ease;
}

.guiz-awards-but-back3 {
    display: inline-block;
    background: none;
    border: 2px solid rgb(128, 105, 0);
    border-radius: 21px;
    padding: 7px 40px 7px 20px;
    color: rgb(232, 255, 128);
    font-size: 17px;
    cursor: pointer;
    transition: all .3s ease;
}

.guiz-awards-but-back:focus {
    outline: none;
    box-shadow: none;
}

.guiz-awards-but-back2:focus {
    outline: none;
    box-shadow: none;
}


/* .form-control:focus {
    outline: none;
    box-shadow: none;
} */

.guiz-awards-but-back:hover {
    background: #9b6d8f;
    color: #fff;
}

.guiz-awards-but-back2:hover {
    background: green;
    color: #fff;
}

.guiz-awards-but-back {
    color: black;
}

.guiz-awards-but-back2 {
    color: black;
}

.guiz-awards-but-back i {
    font-size: 20px;
    line-height: 17px;
    margin-left: 20px;
    position: relative;
    /* top: 2px; */
}

.guiz-awards-but-back2 i {
    font-size: 20px;
    line-height: 17px;
    margin-left: 20px;
    position: relative;
    /* top: 2px; */
}

.guiz-awards-star {
    width: 5%;
}

.guiz-awards-track,
.guiz-awards-time {
    width: 25%;
    text-align: center;
}

#lis {
    display: block;
}

.centerbox {
    position: relative;
    align-items: center;
    align-self: center;
    align-content: center;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); */
    /* IE 9 */
    /* -webkit-transform: translate(-50%, -50%); */
    /* Chrome, Safari, Opera */
    /* width: 620px;
    min-height: 52px; */
    width: 100%;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    z-index: 2;
    padding: 1em;
    /* min-height: 52px; */
    background-color: transparent;
    background: none;
}

.centerbox h1 {
    margin-bottom: 25px;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
}

.centerbox p.description {
    margin-bottom: 40px;
    text-align: center;
}

.description a {
    text-decoration: none;
}

.main-input {
    background: #fff;
    height: 50px;
    /* width: 327px; */
    width: 60%;
    color: black;
    border: 1px solid #cccccc;
    margin-bottom: 0px;
    -webkit-appearance: none;
    border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
    -webkit-border-radius: 4px 0px 0px 4px;
    display: inline-block;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    padding: 0px 0px 0px 57px;
    font-size: 16px;
    border-right: 0px;
    background: #ffffff url("http://seodesigns.com/projects/TD/images/search.png") 18px 15px no-repeat;
    background-size: 18px 18px;
}

.main-input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #cccccc;
    opacity: 1;
    /* Firefox */
}

.main-input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #cccccc;
}

.main-input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #cccccc;
}

.main-location {
    display: none;
}

.main-institution {
    /* display: none; */
}

.main-target {
    display: none;
}

#main-submit {
    background: #3cb13c;
    color: #fff;
    display: inline-block;
    font-size: 19px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    margin-bottom: 0px;
    -webkit-appearance: none;
    border-radius: 0px 4px 4px 0px;
    -moz-border-radius: 0px 4px 4px 0px;
    -webkit-border-radius: 0px 4px 4px 0px;
    width: 20%;
    height: 50px;
    border: 0px;
    padding-top: 0px;
    float: left;
}

#main-submit:hover {
    background: #00a221;
    color: #fff !important;
    -webkit-appearance: none;
}

#main-submit-mobile {
    display: none;
}

.main-btn {
    display: inline-block;
    width: 20%;
    height: 50px;
    border: 1px solid #cccccc;
    padding: 0px;
    position: relative;
    /* float: left; */
    border-right: 0px;
    background: #ffffff url("http://seodesigns.com/projects/TD/images/main-bullet.png") 95% 23px no-repeat;
    background-size: 6px 6px;
    cursor: pointer;
}

.search-small {
    font-size: 12px;
    margin: 0px;
    color: #9B9B9B;
    position: absolute;
    top: 6px;
    left: 16px;
    display: inline-block;
    width: 100%;
    height: 20px;
    text-align: left;
}

.search-large {
    font-size: 16px;
    margin: 0px;
    color: #4A4A4A;
    position: absolute;
    top: 19px;
    left: 16px;
    display: inline-block;
    width: 100%;
    height: 20px;
    font-weight: 900;
    text-align: left;
}

.main-form-container {
    /* height: 50px; */
    /* display: flex; */
    position: relative;
    align-items: center;
    align-self: center;
    align-content: center;
    margin-bottom: 1em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

ul.search-description {
    width: 20%;
    position: absolute;
    background: #fff;
    /* right: 143px;
    top: 55px; */
    top: 55px;
    right: 20%;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 14px 0px;
    border: 1px solid #E5E5E5;
    display: none;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
    /* float: none; */
}

.search-description li {
    font-size: 16px;
    color: #4A4A4A;
    font-weight: 900;
    padding: 6px 0px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    width: 100%;
}

.search-description li:hover {
    background: #f8f8f8;
}

.main-input:focus {
    outline: none;
    box-shadow: none;
}

.main-btn:focus {
    outline: none;
    box-shadow: none;
}

@media only screen and (min-width: 768px) {
    ul.search-description {
        width: 20%;
        right: 20%;
    }
}

.ui-menu-item .ui-menu-item-wrapper:hover {
    background-color: #52965f;
    border: 1px solid #52965f;
}

.ui-front {
    max-height: 20%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
}

.masthead {
    height: 50vh;
    /* min-height: 500px; */
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -1em;
}

#table {
    width: 90%;
    margin: 25px auto;
    border-collapse: collapse;
    border: 1px solid #eee;
    border-bottom: 2px solid #00cccc;
    border-right: 1px solid #00cccc;
    border-left: 1px solid #00cccc;
    /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10),
        0px 10px 20px rgba(0, 0, 0, 0.05),
        0px 20px 20px rgba(0, 0, 0, 0.05),
        0px 30px 20px rgba(0, 0, 0, 0.05); */
}

#plota {
    width: 95%;
    margin: 25px auto;
    /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10),
        0px 10px 20px rgba(0, 0, 0, 0.05),
        0px 20px 20px rgba(0, 0, 0, 0.05),
        0px 30px 20px rgba(0, 0, 0, 0.05); */
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

#table tr td:hover {
    background: #f4f4f4;
    color: #555;
}

#table thead tr th {
    background: #00cccc;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px;
    font-weight: 600;
}

#table tbody tr td {
    color: black;
    border: 1px solid #eee;
    padding: 12px 35px;
    border-collapse: collapse;
}

#table thead tr th>.last {
    border-right: none;
}

@media screen and (min-width:768px) {
    .centerbox {
        margin-top: -1em;
    }
}

#navbarTogglerDemo03 {
    align-items: center;
    align-self: center;
    text-align: center;
}


/* button {
    background: unset !important;
    border: unset !important;
    outline: unset !important;
} */

.navbar.navbar-light .breadcrumb .nav-item.active>.nav-link,
.navbar.navbar-light .navbar-nav .nav-item.active>.nav-link {
    /* background-color: rgba(0, 0, 0, 0.1); */
    background: unset !important;
    border: unset !important;
    outline: unset !important;
}

.post-form input:focus {
    border: 1px solid gray !important;
    /* outline: none !important; */
}

.card .card-body .card-text {
    font-size: 3rem;
    font-weight: 600;
    color: black;
    font-family: Stylish;
}

.card .card-body .card-title {
    margin-bottom: 5px;
    margin-top: -1em;
    font-weight: 700;
    font-size: 0.8em;
}

.card-img-top {
    max-height: 120px;
    max-width: 120px;
}

#nisa {
    max-width: 100px;
}


/* .post-form input:focus {
    border: none !important;
    outline: none !important;
} */

.form-control {
    min-width: 200px;
}

@import url('https://fonts.cdnfonts.com/css/avenir-lt-std');
        .post-form {
            margin: auto;
        }

        /* .post-form input {
            display: block;
            width: 100%;
            height: calc(1.5em + .75rem + 2px);
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        } */

        .input-groupz {
            float: left;
            margin-left: 5px;
            display: block;
        }

        #id_needs_call {
            /* max-height: 20px;
            max-width: 20px; */
            margin-left: auto;
            margin-right: auto;
            /* margin-top: 5px; */
            /* margin-bottom: auto; */
            /* vertical-align: middle; */
        }

        #id_needs_doublecheck {
            /* max-height: 20px; */
            /* max-width: 20px; */
            margin-left: auto;
            margin-right: auto;
            margin-top: 5px;
            /* margin-bottom: auto; */
            /* vertical-align: middle; */
        }

        #id_success {
            /* max-height: 20px;
            max-width: 20px; */
            margin-left: auto;
            margin-right: auto;
            /* margin-top: 5px; */
            /* margin-bottom: auto; */
            /* vertical-align: middle; */
        }

        #id_is_callback {
            /* max-height: 20px;
            max-width: 20px; */
            margin-left: auto;
            margin-right: auto;
            /* margin-top: 5px; */
            /* margin-bottom: auto; */
            /* vertical-align: middle; */
        }

        #id_is_emailback {
            /* max-height: 20px;
            max-width: 20px; */
            margin-left: auto;
            margin-right: auto;
            /* margin-top: 5px; */
            /* margin-bottom: auto; */
            /* vertical-align: middle; */
        }

        .labi {
            font-weight: bold;
        }

        select {
            display: block;
            width: 100%;
            height: calc(1.5em + .75rem + 2px);
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }

        textarea {
            display: block;
            width: 100%;
            max-height: 100px;
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            /* line-height: 1.5; */
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }


        .itema {
            width: 100%;
        }

        .list-group-item {
            line-height: 1;
        }

        .iop {
            font-weight: bold;
            margin-left: 0;
            float: left;
            /* text-align: left; */
            width: 30%;
        }

        .iopa {
            text-align: left;
            width: 70%;
        }

        .guiz-awards-but-back3 {
            display: inline-block;
            background: none;
            border: 2px solid rgb(128, 105, 0);
            border-radius: 21px;
            padding: 7px 40px 7px 20px;
            color: black;
            font-size: 17px;
            cursor: pointer;
            transition: all .3s ease;
        }

        .guiz-awards-but-back3:focus {
            outline: none;
            box-shadow: none;
        }

        .guiz-awards-but-back3:hover {
            background: #6d9b91;
            color: #fff;
        }

        .form-control {
            min-width: 200px;
        }

        #id_item__switch_date_1,
        #id_item__switch_date_0 {
            height: calc(1.5em + .75rem + 2px);
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }

        #id_research_date_1,
        #id_research_date_0 {
            height: calc(1.5em + .75rem + 2px);
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }

        .post-form input {
            display: block;
            width: 100%;
            height: calc(1.5em + .75rem + 2px);
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }

        .post-form input:focus {
            /* border: 1px solid #ced4da; */
            outline: none;
            box-shadow: none;
        }

        .form-control:focus {
            border: 1px solid #ced4da;
            outline: none;
            box-shadow: none;
        }


        tbody tr:hover td {
            background-color: #faf5e8;
            cursor: pointer;
        }

        tbody tr.selected td {
            background-color: #ffd659;
        }

        .ui-menu {
            max-width: 340px;
            background: #232323;
            max-height: 100px;
            /* display: inline-block; */
            overflow-y: auto;
            color: white;
            font-size: smaller;
            right: 0;
            left: auto;
            border-radius: 10px;
        }

        .ui-menu li {
            margin-left: -2em;
            list-style-type: none;
            /* left: 0; */
            padding-right: 1em;
            padding-left: 1em;
            /* text-align: center; */
            /* width: 100%; */
        }

        .ui-menu>li:last-child:hover {
            left: auto;
            right: 0;
        }

        div.ui-helper-hidden-accessible {
            display: none;
            background-color: #fff;
            color: #fff;
        }

        .btn-rounded {
            border-radius: 10px;
        }


        #bnm {
            z-index: -1;
        }

        #masthead {
            z-index: -1;
        }

        #navbarTogglerDemo03 {
            z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
        }

        .dropdown-menu a {
            /* position: fixed; */
            z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
        }

        #id_follow_notes {
            max-height: 100px;
        }

        #time-range p {
            font-family: "Arial", sans-serif;
            font-size: 14px;
            color: #333;
        }

        .ui-slider-horizontal {
            height: 8px;
            background: #D7D7D7;
            border: 1px solid #BABABA;
            box-shadow: 0 1px 0 #FFF, 0 1px 0 #CFCFCF inset;
            clear: both;
            margin: 8px 0;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
            border-radius: 6px;
        }

        .ui-slider {
            position: relative;
            text-align: left;
        }

        .ui-slider-horizontal .ui-slider-range {
            top: -1px;
            height: 100%;
        }

        .ui-slider .ui-slider-range {
            position: absolute;
            z-index: 1;
            height: 8px;
            font-size: .7em;
            display: block;
            border: 1px solid #5BA8E1;
            box-shadow: 0 1px 0 #AAD6F6 inset;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            -khtml-border-radius: 6px;
            border-radius: 6px;
            background: #81B8F3;
            background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
            background-size: 100%;
            background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #A0D4F5), color-stop(100%, #81B8F3));
            background-image: -webkit-linear-gradient(top, #A0D4F5, #81B8F3);
            background-image: -moz-linear-gradient(top, #A0D4F5, #81B8F3);
            background-image: -o-linear-gradient(top, #A0D4F5, #81B8F3);
            background-image: linear-gradient(top, #A0D4F5, #81B8F3);
        }

        .ui-slider .ui-slider-handle {
            border-radius: 50%;
            background: #F9FBFA;
            background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
            background-size: 100%;
            background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #C7CED6), color-stop(100%, #F9FBFA));
            background-image: -webkit-linear-gradient(top, #C7CED6, #F9FBFA);
            background-image: -moz-linear-gradient(top, #C7CED6, #F9FBFA);
            background-image: -o-linear-gradient(top, #C7CED6, #F9FBFA);
            background-image: linear-gradient(top, #C7CED6, #F9FBFA);
            width: 22px;
            height: 22px;
            -webkit-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
            -moz-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
            box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
            -webkit-transition: box-shadow .3s;
            -moz-transition: box-shadow .3s;
            -o-transition: box-shadow .3s;
            transition: box-shadow .3s;
        }

        .ui-slider .ui-slider-handle {
            position: absolute;
            z-index: 2;
            width: 22px;
            height: 22px;
            cursor: default;
            border: none;
            cursor: pointer;
        }

        .ui-slider .ui-slider-handle:after {
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            top: 50%;
            margin-top: -4px;
            left: 50%;
            margin-left: -4px;
            background: #30A2D2;
            -webkit-box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 #FFF;
            -moz-box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 white;
            box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 #FFF;
        }

        .ui-slider-horizontal .ui-slider-handle {
            top: -.5em;
            margin-left: -.6em;
        }

        .ui-slider a:focus {
            outline: none;
        }

        .vc {
            color: rgba(55, 187, 2, 0.822);
        }

        .rty {
            color: rgba(6, 33, 121, 0.767);
        }

        .centerbox {
            margin-left: auto;
            margin-right: auto;
        }

        @media (max-width: 576px) {
            .inp-sear {
                width: 90%;
                margin-left: auto;
                margin-right: auto;
            }

            .ui-menu {
                max-width: 90%;
                margin-left: auto;
                margin-right: auto;
            }

            .btn-sea {
                width: 85%;
                margin-left: auto;
                margin-right: auto;
            }
        }

        @media (min-width: 576px) and (max-width:768px) {
            .inp-sear {
                min-width: 30em;
                margin-left: auto;
                margin-right: auto;
            }

            .btn-sea {
                width: 20%;
                margin-left: auto;
                margin-right: auto;
            }

            .ui-menu {
                min-width: 70%;
                margin-left: auto;
                margin-right: auto;
            }

            /* .zas {
            width: 100%;
            align-items: center;
            align-self: center;
            text-align: center;
            align-content: center;
        } */
        }

        @media (min-width: 768px) and (max-width:992px) {
            .inp-sear {
                min-width: 40em;
                margin-left: auto;
                margin-right: auto;
            }

            .btn-sea {
                width: 20%;
                margin-left: auto;
                margin-right: auto;
            }

            .zas {
                display: block;
            }

            .ui-menu {
                min-width: 70%;
                margin-left: auto;
                margin-right: auto;
            }

            /* .zas {
            width: 100%;
            align-items: center;
            align-self: center;
            text-align: center;
            align-content: center;
        } */
        }

        @media (min-width: 992px) and (max-width:1035px) {
            /* .zas {
            width: auto;
            align-items: center;
            align-self: center;
            text-align: center;
            align-content: center;
        } */

            .inp-sear {
                width: 100px;
                /* float: left; */
                /* margin-left: auto;
            margin-right: auto; */
            }

            .ui-menu {
                width: 240px;
                margin-right: 0;
            }

            .btn-sea {
                width: 90px;
            }

            .btn[class*="btn-outline-"].btn-md {
                padding-top: .58rem;
                padding-bottom: .58rem;
                padding-left: 3px;
                padding-right: 5px;
            }

            .ui-menu {
                min-width: 35em;
            }

        }

        select[name="example90_length"] {
            line-height: 0.7;
            font-size: smaller;
        }

        table thead tr th {
            font-size: small;
        }

        table tbody tr td {
            font-size: small;
        }

        .dataTables_filter {
            font-size: smaller;
        }

        .dataTables_length {
            font-size: smaller;
        }

        div.dataTables_wrapper div.dataTables_length select {
            font-size: smaller;
            line-height: 0.7;
        }

        .dataTables_paginate {
            font-size: smaller;
        }

        .dataTables_info {
            font-size: smaller;
        }

        @media (max-width: 992px) {
            table thead tr th {
                font-size: small;
            }

            table tbody tr td {
                font-size: x-small;
            }

            div.dataTables_wrapper div.dataTables_length select {
                font-size: x-small;
                line-height: 0.5;
            }

            .dataTables_filter {
                font-size: small;
            }

            .dataTables_length {
                font-size: small;
            }

            .dataTables_paginate {
                font-size: small;
            }

            .dataTables_info {
                font-size: small;
            }
        }

        select {
            /* display: block;
            width: 100%;
            height: calc(1.5em + .75rem + 2px);
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out; */
        }

        textarea {
            display: block;
            width: 100%;
            max-height: 100px;
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            /* line-height: 1.5; */
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }

        .form-inline .form-group label {
            padding-right: 10px;
            margin: 5px;
            font-weight: bold;
        }

        .form-inline .form-group input {
            width: auto;
            margin: 5px;
        }

        .form-inline .form-group select {
            width: auto;
            margin: 5px;
        }

        .dcf {
            background: linear-gradient(-45deg, #fddfd5, #f8aecb, #90e0fd, #85f8dd);
            /* background-size: 400% 400%; */
            animation: gradient 15s ease infinite;
            align-items: center;
            text-align: center;
            align-self: center;
            padding: 5px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0.5em;
            border-radius: 7px;
        }

        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }

        .cvg input {
            display: block;
            height: calc(1.5em + .75rem + 2px);
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            /* max-width: 200px; */
        }

        #form_login {
            left: 50%;
            top: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
        }

        :root {
            --radius: 2px;
            --baseFg: dimgray;
            --baseBg: white;
            --accentFg: #62b8fa;
            --accentBg: #bae1ff;
        }

        .md-modal {
            margin: auto;
            position: fixed;
            /* top: 100px; */
            left: 0;
            right: 0;
            width: 50%;
            max-width: 630px;
            min-width: 320px;
            height: auto;
            z-index: 999999999999999999999999999999999999999999999999999999999999;
            visibility: hidden;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            backface-visibility: hidden;
            transform: translateY(-40%);
            top: 40%;
            margin: 0 auto;
        }

        /* @media(max-width: 768px) {
        .md-modal {
            min-height: calc(100vh - 20px);
        }
    } */

        .md-show {
            visibility: visible;
        }

        .zap {
            z-index: 100000;
        }

        .md-overlay {
            position: fixed;
            width: 100%;
            height: 100%;
            visibility: hidden;
            top: 0;
            left: 0;
            z-index: 3000000;
            opacity: 0;
            background: rgba(#e4f0e3, 0.8);
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }

        .md-show~.md-overlay {
            opacity: 1;
            visibility: visible;
        }

        .md-effect-12 .md-content {
            -webkit-transform: scale(0.8);
            -moz-transform: scale(0.8);
            -ms-transform: scale(0.8);
            transform: scale(0.8);
            opacity: 0;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }

        .md-show.md-effect-12~.md-overlay {
            background-color: #e4f0e3;
        }

        .md-effect-12 .md-content h3,
        .md-effect-12 .md-content {
            background: transparent;
        }

        .md-show.md-effect-12 .md-content {
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            opacity: 1;
        }

        #buttonr {
            position: relative;
            margin-top: 10%;
            background: #b6e099;
            border: 1px solid rgb(3, 92, 37);
            padding: 20px 40px;
            font-size: 0.9em;
            color: white;
            box-shadow: 4px 4px 0px 0px rgb(70, 160, 96);
            /* font-family: 'Open Sans', sans-serif; */
            font-weight: 900;
            letter-spacing: 5px;
            text-transform: uppercase;
            transition: all 300ms ease-in-out;
            left: 0;
            top: 0;
            display: block;
        }

        #buttonr:hover {
            left: 4px;
            top: 4px;
            box-shadow: 0 0 0 0 white;
        }

        #buttonr1 {
            position: relative;
            margin-top: 10%;
            background: #c4ccf8;
            border: 1px solid rgb(72, 72, 128);
            padding: 20px 40px;
            font-size: 0.9em;
            color: white;
            box-shadow: 4px 4px 0px 0px rgb(70, 112, 160);
            /* font-family: 'Open Sans', sans-serif; */
            font-weight: 900;
            letter-spacing: 5px;
            text-transform: uppercase;
            transition: all 300ms ease-in-out;
            left: 0;
            top: 0;
            display: block;
        }

        #buttonr1:hover {
            left: 4px;
            top: 4px;
            box-shadow: 0 0 0 0 white;
        }

        .ret {
            position: relative;
            width: 30px;
            height: 30px;
            border: 2px solid #eef5df;
            background-color: #ff5248;
            border-radius: 50%;
        }

        .ret::before,
        .ret::after {
            position: absolute;
            top: 10px;
            left: 7px;
            width: 13px;
            height: 5px;
            content: "";
            background-color: #eef5df;
            display: none;
        }

        .ret::before {
            -ms-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .ret::after {
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .ret:hover {
            cursor: pointer;
        }

        .ret:hover::before,
        .ret:hover::after {
            display: block;
        }

        #id_call_time_0 {
            height: calc(1.5em + 0.75rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }

        #id_call_time_1 {
            height: calc(1.5em + 0.75rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }
        #id_call_item__switch_date_0 {
            height: calc(1.5em + 0.75rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }

        #id_call_item__switch_date_1 {
            height: calc(1.5em + 0.75rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }

#alerted{
    margin-bottom: 1em;
}

