#alerted{
    margin-bottom: 1em;
}

.message_t{
    margin-bottom: 0.5em;
    padding-top:0.5em;
    padding-bottom: 0.5em;
}

.card {
    box-shadow: box-shadow: 0 0 0 0.5;
    transition: 0.3s;
    width: 100%;
    z-index: 1;
}

.card:hover {
   box-shadow: 0 0 0 0.8;
}

.card-one{
    display: flex;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
    transition: 0.4s ease-out;
    position: relative;
}
.uyu{
    font-size: 10vh;
    text-align: center;
    color: orange;
}

p.cap:first-letter {
    float: left;
    font-size: 330%;
    line-height: 100%;
    font-weight: 700;
    margin-top: -0.15em;
}
.cardback{
    background: linear-gradient(170deg, #669999 0%,grey 10%, #ffffcc 40%, #99ccff 60%, #ccffcc 80%, #ccffff 100%);
}
.logoimage{
    max-width: 150px;
}

.dropdown{
    padding: 0;
}
.logoimage{
    max-width: 80px;
    padding: 0;
    margin: 0;
}
@media (min-width: 768px) {
    .abs {
        position: absolute;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}

.navbar.navbar-light .navbar-nav .nav-item.active>.nav-link {
    background-color: transparent;
}
.navbar {
    padding: 0rem 0.3rem;
    z-index:999;
}
.dropdown-menu{
    text-align: center;
    background-color: #FDE689;
}

@media (max-width: 576px){
    .navbar .dropdown-menu {
        position: relative !important;
    }
}
.navbar .dropdown-menu a:not(.active) {
    color: #fff;
    padding: 0.1rem 0.2rem !important;
    display: block;
}
.navbar .dropdown-menu a:not(.active):hover {
    background: #fff;
    color: black;
}
dropdown-toggle {
  background-color: transparent;
  border-color: #fff;
  border-style: solid;
  border-top: none;
  border-right: none;
  border-left: none;
}

.dropdown-menu>li>a{
  color: #fff;
  padding: 0.1rem 0.2rem !important;
  display: block;
}

.main {
    position: relative;
    margin-top: -1.5rem;
}
#myCarousel{
    max-height: 60vh;
}

.carousel-item img{
    max-height: 60vh;
    width: 100%;
}

.carousel-caption {
    padding: 0.2rem 0.3rem;
}

.banner-main .carousel-caption h1 {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
}

.banner-main .carousel-caption p {
    font-size: 1rem;
    padding: 20px 0px 40px 0px;
}

#myCarousel a.carousel-control-next {
    position: absolute;
    top: 40% !important;
    left: inherit !important;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background: #FDE689;
}

#myCarousel a.carousel-control-prev {
    position: absolute;
    top: 40% !important;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background: #FDE689;
}
.carousel-item {
  text-align: center;
}

.carousel-control-prev {
  left: inherit;
}

#main_slider .carousel-control-prev,
#main_slider .carousel-control-next {
  width: 55px;
  height: 55px;
  background: #000;
  opacity: 1;
  font-size: 30px;
  color: #fff;
}

#main_slider .carousel-control-prev:hover,
#main_slider .carousel-control-next:hover,
#main_slider .carousel-control-prev:focus,
#main_slider .carousel-control-next:focus {
  background: #FDE689;
  color: #fff;
}

#main_slider a.carousel-control-prev {
  position: absolute;
  top: 40%;
}

#main_slider a.carousel-control-next {
  position: absolute;
  top: 40%;
}
.flexcss {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.service {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #f4f4f4;
  margin-top: 0px;
}
.service-2 {
  padding-top: 30px;
  padding-bottom: 20px;
  background: #e0e0e0;
  margin-top: 90px;
}

.service .titlepage span {
  color: #3d3c3c;
}

.service ul {
  list-style-type: disc;
  padding-left: 20px;
}

.service ul li {
  margin-bottom: 10px;
}


.service-box {
  padding: 20px; /* Increased padding to add more spacing */
  text-align: center;
  background-color: #ffffff; /* Updated background color to white */
  color: #000000;
  /* width: 350px;
  height: 200px; Default height */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Added box shadow */
  margin-bottom: 30px;
  margin-right: 10px; /* Add right margin for spacing */
  margin-left: 10px; /* Add left margin for spacing */
  flex: 0 0 calc(100% - 20px); /* Calculate width for one card per row on mobile */
  max-width: calc(100% - 20px); /* Set max width for responsiveness */
}

@media (min-width: 768px) {
  /* Apply styling for small devices like tablets and larger */
  .service-box {
    flex: 0 0 calc(50% - 20px); /* Calculate width for two cards per row */
    max-width: calc(50% - 20px); /* Set max width for responsiveness */
  }
}

@media (min-width: 992px) {
  /* Apply styling for medium-sized devices like laptops and larger */
  .service-box {
    flex: 0 0 calc(33.33% - 20px); /* Calculate width for three cards per row */
    max-width: calc(33.33% - 20px); /* Set max width for responsiveness */
  }
}


  @media (max-width: 767px) {
    .service-box {
      margin-bottom: 20px;
    }
  }
.service .service-box figure {
  margin: 30px;
}
.material-icons{
    color: #FDE689;
    font-size: 60px;
    text-align: center;
}
.banner-main .carousel-caption h1{
    color: #FDE689;
}
.titleborder{
    width: 300px;
    padding: 0.1rem 0.3rem;
    border-top: 5px solid #FDE689;
    margin: 40px auto;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FDE689), to(transparent));
    background-image: -webkit-linear-gradient(#FDE689, transparent);
    background-image:
        -moz-linear-gradient(#FDE689, transparent),
        -moz-linear-gradient(#FDE689, transparent)
    ;
    background-image:
        -o-linear-gradient(#FDE689, transparent),
        -o-linear-gradient(#FDE689, transparent)
    ;
    background-image:
        linear-gradient(#FDE689, transparent),
        linear-gradient(#FDE689, transparent)
    ;
    -moz-background-size:5px 100%;
    background-size:5px 100%;
    background-position:0 0, 100% 0;
    background-repeat:no-repeat;
}