{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ page_title }}
{% endblock %}
{% block content %}
{% include 'header.html' %}

<section>
    <div class="container" style="padding-top: 2rem; padding-bottom: 2 rem;">
        {% if messages %}
        {% for message in messages %}
        <div class="row">
            <div class="col-md-12">
                <div {% if message.tags %} class="{{ message.tags }} message_t"{% endif %}
                     role="alert">
                    {{ message }}
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <div class="price-sec-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="main-heading titleborder titler">OUR SERVICES</div>
                    </div>
                </div>
                {% if services %}
                <div class="row card-deck">
                    {% for each in services %}
                    {% if each.is_active %}
                    <div class="col-md-4 mb-3 d-flex align-items-stretch">
                        <div class="card text-center">
                            <div class="card-body d-flex flex-column">
                                <div class="card-header mt-1">
                                    <h1><i class="material-icons">{{each.icon_name}}</i></h1>
                                    <h5><u>{{each.name}}</u></h5>
                                </div>
                                <div>
                                    <p>
                                        {{each.description|slice:40}} ...
                                    </p>
                                    {% if each.serviceitems %}
                                        <ul>
                                            {% for each in each.serviceitems|slice:"4" %}
                                            <li class="bullets">
                                                {{each.bullet_item|slice:30}}...
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                            <p style="padding-left: 1em;padding-right: 1em;">
                                <a href="/services/service/{{each.pk}}/view/" class="plan-btn">Read More</a>
                            </p>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% include 'footer.html' %}
{% endblock %}