{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ page_title }}
{% endblock %}
{% block content %}
{% include 'header.html' %}

<section>
    <div class="container" style="margin-top: -1rem;">
        {% if messages %}
        {% for message in messages %}
        <div class="row">
            <div class="col-md-12">
                <div {% if message.tags %} class="{{ message.tags }} message_t"{% endif %}
                     role="alert">
                    {{ message }}
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <div class="price-sec-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="main-heading titleborder titler">PRICING TABLE</div>
                    </div>
                </div>
                {% if packages %}
                <div class="row">
                    {% for each in packages %}
                    <div class="col-md-4 text-center">
                        <div class="price-box">
                            <div class="">
                                <div class="price-label basic" style="background: {{each.package_color}}">{{each.name}} Plan</div>
                                <div class="price">$ {{each.price}}</div>
                                <div class="price-info">{{each.subtitle}}</div>
                            </div>
                            <div class="info">
                                {% if each.list_bullets %}
                                <ul>
                                    {% for each in each.list_bullets %}
                                    <li><i class="fas fa-check"></i>{{each}}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                <a href="/services/package/{{each.pk}}/view/" class="plan-btn">Join {{each.name}} Plan</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% include 'footer.html' %}
{% endblock %}