{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ page_title }}
{% endblock %}
{% block content %}
{% include 'header.html' %}
<section>
    <div class="container">
        <div class="card card-login mx-auto text-center">
            {% if messages %}
            {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}"{% endif %}
                 role="alert" style="margin-bottom: 0.5em; padding-top:0.5em; padding-bottom: 0.5em;">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            <h2>{{page_title}} Page</h2>
            <div class="col-md-12">
                <h2>Package Name: {{package.name}}</h2>
                <h2>Price: ${{package.price}}</h2>
            </div>
            <div class="card-footer d-flex">
                <button class="btn btn-success ml-auto" id="checkout-button">Checkout</button>
            </div>
        </div>
    </div>
</section>
<p id="email">{{email}}</p>
{% include 'footer.html' %}
<script src="https://js.stripe.com/v3/"></script>
<script>
    console.log("Sanity check!");

    // Get Stripe publishable key
    fetch("/config/")
    .then((result) => { return result.json(); })
    .then((data) => {
      // Initialize Stripe.js
      const stripe = Stripe(data.publicKey);

      // Event handler
      document.querySelector("#checkout-button").addEventListener("click", () => {
        // Get Checkout Session ID
        fetch("{% url 'create-checkout-session' pk=package.pk %}")
        .then((result) => { return result.json(); })
        .then((data) => {
          console.log(data);
          // Redirect to Stripe Checkout
          return stripe.redirectToCheckout({sessionId: data.sessionId})
        })
        .then((res) => {
          console.log(res);
        });
      });
    });
</script>
<!--<script type="text/javascript">-->
<!--    // Create an instance of the Stripe object with your publishable API key-->
<!--    var stripe = Stripe('{{ stripe_publishable_key }}');-->
<!--    var checkoutButton = document.getElementById('checkout-button');-->

<!--    checkoutButton.addEventListener('click', function () {-->
<!--        var email = document.getElementById("email").innerHTML;-->
<!--        console.log(email)-->
<!--        if (email.length == 0) {-->
<!--            alert("Please enter your email address.");-->
<!--            return;-->
<!--        }-->

<!--        // Create a new Checkout Session using the server-side endpoint you-->
<!--        // created in step 3.-->
<!--        fetch("", {-->
<!--            method: 'POST',-->
<!--            body: JSON.stringify(-->
<!--                { email: email }-->
<!--            )-->
<!--        })-->
<!--            .then(function (response) {-->
<!--                return response.json();-->
<!--            })-->
<!--            .then(function (session) {-->
<!--                return stripe.redirectToCheckout({ sessionId: session.sessionId });-->
<!--            })-->
<!--            .then(function (result) {-->
<!--                // If `redirectToCheckout` fails due to a browser or network-->
<!--                // error, you should display the localized error message to your-->
<!--                // customer using `error.message`.-->
<!--                if (result.error) {-->
<!--                    alert(result.error.message);-->
<!--                }-->
<!--            })-->
<!--            .catch(function (error) {-->
<!--                console.error('Error:', error);-->
<!--            });-->
<!--    });-->
<!--</script>-->

{% endblock %}