{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ page_title }}
{% endblock %}
{% block script %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock script%}
{% block content %}
{% include 'header.html' %}

<br>
<section>
    <div class="container">
        {% if messages %}
        {% for message in messages %}
        <div class="row">
            <div class="col-md-12">
                <div {% if message.tags %} class="{{ message.tags }} message_t"{% endif %}
                     role="alert">
                    {{ message }}
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-md-12 text-center">
                {% if package.is_active %}
                <h1></h1>
                <div class="card-deck">
                    {% for price in prices %}
                    <div class="card">
                        <h3 class="titleborder">{{package.name}} Plan</h3>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 text-center">
                                    <h4><u>{{package.subtitle}}</u></h4>
                                    <h5 class="tag">${{ price.price }}</h5>
                                </div>
                                <div class="col-md-6 text-center">
                                    <p>{{package.description|safe}}</p>
                                </div>
                                <div class="col-md-12">
                                    <form
                                      action="{% url 'create-checkout-session' price.id %}"
                                      method="POST"
                                    >
                                      {% csrf_token %}
                                      <button type="submit" class="btn btn-danger">Proceed to Checkout</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<p id="email" style="display: none;">{{email}}</p>
<br>
{% include 'footer.html' %}
{% endblock %}