<br>
<footer class="page-footer font-small special-color-dark pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul class="list-unstyled text-center">
                    <li>
                        <a href="/" style="color: rgb(204, 203, 203);">
                            <i class="fa fa-home" aria-hidden="true" style="margin-right: 0.5em;"></i>Home</a>
                    </li>
<!--                    <li>-->
<!--                        <a href="/return_calls/" style="color: rgb(204, 203, 203);"><i class="fa fa-phone" aria-hidden="true" style="margin-right: 0.5em;"></i>All Return Calls</a>-->
<!--                    </li>-->
                    <!-- <li>
                        <a href="/unknowns/" style="color: rgb(204, 203, 203);"><i class="fa fa-database" aria-hidden="true" style="margin-right: 0.5em;"></i>Researched</a>
                    </li> -->
<!--                    <li>-->
<!--                        <a href="/allcalls/" style="color: rgb(204, 203, 203);"><i class="fa fa-phone" aria-hidden="true" style="margin-right: 0.5em;"></i>All Made Calls</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="/pending_unknowns/" style="color: rgb(204, 203, 203);"><i class="fa fa-hourglass-half" aria-hidden="true" style="margin-right: 0.5em;"></i>Pending Unknowns</a>-->
<!--                    </li>-->
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-unstyled list-inline text-center py-2">
<!--                    <li class="list-inline-item">-->
<!--                        <button class="md-trigger btn btn-outline-white btn-rounded"-->
<!--                            data-modal="modal-12">Start New<i class="fa fa-plus" style="margin-left: 1em;"></i></button>-->
<!--                    </li>-->
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-unstyled list-inline text-center py-2">
                    {% if user.is_authenticated %}
                    <li>
                        <a href="/accounts/logout/" style="color: rgb(204, 203, 203);">
                            <i class="fa fa-user" style="margin-right: 0.5em;"></i>
                            Logout
                        </a>
                    </li>
                    {% else %}
                    <li>
                        <a href="/accounts/login/" style="color: rgb(204, 203, 203);">
                            <i class="fa fa-user" style="margin-right: 0.5em;"></i>
                            Login
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3" style="font-size: smaller;">©
        <script type="text/javascript">document.write(new Date().getFullYear());</script>
        Copyright
        <a href="/"> {{project}}</a>
    </div>
</footer>